@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MAILER BY JOHNESAN</h1>
    <p class="lead">This is an open source Mailer system for .NET developers. Feel free to make use of, and extend its capabilities!</p>
    <i>@@johnesan</i>
    <p><a href="@Url.Action("sendmail", "home")" class="btn btn-danger btn-lg">Try it Out</a></p>
   
</div>