
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome To My Mailer</title>
</head>


<body bgcolor="#FFFFFF">
  <h2>Welcome @ViewBag.Name</h2>
    <p>Thank you for using this Mailer Service! Be sure to credit me if this was helpful to you!</p>
    <img src="https://seeklogo.com/images/S/steemit-logo-C8ECB02BBF-seeklogo.com.png"/>
</body>
</html>